.main {
  position: relative;
}
.main_right {
  position: absolute;
  left: 1057px;
  top: 25px;
  max-height: 337px;
}
.box_2 {
  position: absolute;
  padding: 19px 30px;
  width: 121px;
  height: 148px;
  top: 270px;
  left: 876px;
  color: rgba(255, 255, 255, 1);
  border-radius: 25px;
  background-color: rgba(54, 70, 217, 1);
  box-shadow: 0px 4px 31px 3px rgba(54, 70, 217, 0.39);
  .p {
    max-width: 80px;
    font-family: "Oswald";
    font-size: 34px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
  .multi {
    font-family: "Oswald";
    font-size: 17px;
    font-weight: 700;
    line-height: 46px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
}
.main {
  .box_1 {
    width: 354px;
    height: 436px;
    margin-top: 135px;
    margin-left: 369px;
    background-color: rgba(42, 232, 95, 1);
  }
  .video {
    width: 561px;
    height: 483px;
    margin: 14px;
    border-radius: 35px;
    position: relative;
  }
  .main_right-h4 {
    font-family: "Poppins";
    font-size: 19px;
    font-weight: 700;
    line-height: 23px;
    text-align: left;
    color: rgba(62, 168, 59, 1);
    margin-bottom: 28px;
  }
  .main_right-h2 {
    font-family: "Poppins";
    font-size: 46px;
    font-weight: 700;
    line-height: 23px;
    text-align: left;
    color: rgba(54, 55, 57, 1);
    margin-bottom: 37px;
  }
  .p1 {
    max-width: 488px;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    color: rgba(54, 55, 57, 1);
    margin-bottom: 37px;
  }
  .p2 {
    max-width: 488px;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    color: rgba(54, 55, 57, 1);
    margin-bottom: 37px;
  }
  .p3 {
    max-width: 488px;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    color: rgba(54, 55, 57, 1);
    margin-bottom: 50px;
  }
}

.main {
  max-height: 497px;
}
.main_bottom {
  display: flex;
  margin-top: 209px;
  margin-left: 389px;
  gap: 86px;
}
.bottom_left {
  display: flex;
  gap: 21px;
  max-width: 500px;
  max-height: 157px;
  .h5 {
    max-width: 277px;
    font-family: "Poppins";
    font-size: 21px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    color: rgba(54, 55, 57, 1);
    margin-bottom: 17px;
  }
  .p_main {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    color: rgba(54, 55, 57, 1);
  }
}
